<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LLModelSqliteKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE44EBA41E519C3600FFEF49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE44EBC01E519C3700FFEF49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE44EBCB1E519C3700FFEF49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
